body {
    background-color: rgb(255, 10, 10);
    color: aqua;
}
.heading {
    width:80%;
    font-size:22px;
}
#camera {
    border:2px dashed rgb(51, 153, 76);
    width:350px;
    height:350px;
}
.name-of-objects,#resultobject,#accuracy {
color:rgb(0, 60, 255);

}
hr {
    border-color:rgb(224, 248, 3);
}